* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: black;
}

.card {
    width: 90%;
    
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    border-radius: 20px;
    margin: 10% auto 0;
    padding: 40px 5%; /* Adjusted padding for better responsiveness */
    text-align: center;
}

.search {
    width: 100%;

    display: flex;
    flex-wrap: wrap; /* Added flex-wrap for better responsiveness */
    align-items: center;
    justify-content: center;
}

.search input {
    background: #ebfffc;
    color: #555;
    padding: 10px; /* Adjusted padding for better responsiveness */
    height: 50px;
    border-radius: 20px;
    flex: 1;
    border: none;
    margin: 8px 0; /* Adjusted margin for better responsiveness */
    font-size: 16px;
    font-weight: bold;
}

.search button {
    border: none;
   margin: 10px;
    padding: 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img {
    width: 32px;
}

.weather {
    display: none;
}

.weather-icon {
    width: 80px;
    margin-top: 10px;
}

.weather h1 {
    font-size: 30px;
}

.weather h2 {
    font-size: 20px;
    margin-top: -3px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin-top: 10px;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: 300;
    margin-bottom: 10px;
}

.col img {
    width: 25px;
}

.humidity,
.wind {
    font-size: 16px;
    margin-top: -2px;
}

/* Media Query for smaller screens */
@media only screen and (max-width: 768px) {
    .card {
        width: 90%;
        max-width: 90%;
        padding: 40px 5%;
    }

    .search input {
        padding: 10px;
        height: 50px;
        font-size: 16px;
    }

    .search button {
        width: 50px;
        height: 50px;
    }

    .weather-icon {
        width: 60px; /* Adjusted width for better responsiveness */
        margin-top: 10px;
    }

    .weather h1 {
        font-size: 24px; /* Adjusted font-size for better responsiveness */
    }

    .weather h2 {
        font-size: 18px; /* Adjusted font-size for better responsiveness */
        margin-top: -3px;
    }

    .details {
        padding: 0 5%;
        margin-top: 10px;
    }

    .col img {
        width: 20px; /* Adjusted width for better responsiveness */
    }

    .humidity,
    .wind {
        font-size: 14px; /* Adjusted font-size for better responsiveness */
        margin-top: -2px;
    }
}
